* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #0e1217;
    color: white;
    height: 100vh;

    background: linear-gradient(135deg, #0a0a0a, #121624, #050505);
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 300px;
        height: 300px;
        background: radial-gradient(circle, #2fa7ff4d, transparent);
        top: 20%;
        left: 40%;
        filter: blur(80px);
        z-index: -1;
        animation: movement 20s infinite linear;
    }
}

@keyframes movement {
    0% {
        transform: translate(0, 0) scale(1);
    }

    50% {
        transform: translate(100px, 100px) scale(1.5);
    }

    100% {
        transform: translate(0, 0) scale(1);
    }
}


#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    padding: 10px 10px 10px 15px;
    box-shadow: 0px 6px 12px #ffffff21;
    z-index: 1000;
    opacity: 1;
    visibility: visible;
    transition: 0.3s;

    &.fade-out {
        opacity: 0;
        visibility: hidden;
    }
}