main {
    position: relative;
    width: 100%;
    height: 100%;

    h1 {
        padding-top: 250px;
        text-align: center;
        font-size: 45px;
    }

    .MainButtons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 20px;
        margin-top: 50px;

        button {
            padding: 20px;
            font-size: 18px;
            cursor: pointer;
            border-radius: 10px;
            border: none;
            transition: 0.5s;
            color: #fff;
            background-color: rgba(0, 0, 0, 0.207);
            box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.256);
            backdrop-filter: blur(4px);

            &:hover {
                background-color: rgba(0, 0, 0, 0.333);
                transform: translateY(-3px);
            }
        }
    }

    .mainBoxes {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 650px;
        background-color: #1c1f26;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 9px 3px 10px #0000002b;
        opacity: 0;
        visibility: hidden;
        transform: translate(-50%, -50%);
        transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
        z-index: 10;
        pointer-events: none;

        &.active {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        }

        .close {
            position: absolute;
            top: 12px;
            right: 20px;
            font-size: 24px;
            cursor: pointer;
            color: #fff;
            font-style: normal;
        }
    }

    #mngEmployeeBox, #mngDepartmentBox {
        height: 300px;
        .buttons {
            display: grid;
            grid-template-columns: auto auto;
            justify-content: center;
            align-items: center;
            gap: 50px;
            margin-top: 50px;

            button {
                padding: 20px;
                font-size: 18px;
                cursor: pointer;
                border-radius: 10px;
                border: none;
                transition: 0.5s;
                color: #fff;
                background-color: rgba(0, 0, 0, 0.207);
                box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.256);
                backdrop-filter: blur(4px);

                &:hover {
                    background-color: rgba(0, 0, 0, 0.333);
                    transform: translateY(-3px);
                }
            }
        }
    }

    #mngEmailBox {
        p {
            display: block;
            font-size: 18px;
        }

        .addEmail,
        .removeEmail,
        .import,
        .export {
            form {
                display: flex;
                justify-content: center;
                flex-direction: column;

                input[type="email"],
                input[type="file"] {
                    width: 100%;
                    padding: 15px;
                    margin-top: 10px;
                    border: none;
                    border-radius: 5px;
                    font-size: 16px;
                    background-color: #282c34;
                    color: #fff;
                    outline: none;
                    cursor: pointer;
                }

                input[type="submit"] {
                    margin: 20px auto;
                    width: 100%;
                    padding: 8px;
                    border: none;
                    border-radius: 5px;
                    font-size: 16px;
                    cursor: pointer;
                    transition: background-color 0.3s ease;
                    background-color: #ffffff1a; 
                    color: white;
                    &:hover {
                        background-color: #ffffff4d;
                    }
                }
            }
        }

        .removeEmail {
            p {
                margin-top: 10px;
            }

            input[type="submit"] {
                margin-bottom: 0;
            }
        }

        .import,
        .export {
            p {
                margin-top: 10px;
            }

        }
    }
}

.lines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    &::before {
        content: '';
        background: #ffffff1a;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
    }

    .line {
        position: absolute;
        width: 1px;
        height: 100%;
        top: 0;
        left: 50%;
        background: #ffffff1a;
        overflow: hidden;

        &::after {
            content: "";
            display: block;
            position: absolute;
            height: 15vh;
            width: 100%;
            top: -50%;
            left: 0;
            background: linear-gradient(to bottom, #ffffff00 0%, #ffffff 75%, #ffffff 100%);
            animation: drop 7s 0s infinite;
            animation-fill-mode: forwards;
            animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
        }

        &:nth-child(1) {
            margin-left: -25%;

            &::after {
                animation-delay: 2s;
            }
        }

        &:nth-child(3) {
            margin-left: 25%;

            &::after {
                animation-delay: 2.5s;
            }
        }
    }
}

@keyframes drop {
    0% {
        top: -50%;
    }

    100% {
        top: 110%;
    }
}


#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.212);
    backdrop-filter: blur(5px);
    display: none;

    &.active {
        display: block;
    }
}