* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    padding: 10px 10px 10px 15px;
    box-shadow: 0px 6px 12px #ffffff21;
    z-index: 1000;
    opacity: 1;
    visibility: visible;
    transition: 0.3s;

    &.fade-out {
        opacity: 0;
        visibility: hidden;
    }
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #0e1217;
    color: white;
    height: 100vh;

    background: linear-gradient(135deg, #0a0a0a, #121624, #050505);
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 300px;
        height: 300px;
        background: radial-gradient(circle, #2fa7ff4d, transparent);
        top: 20%;
        left: 40%;
        filter: blur(80px);
        z-index: -1;
        animation: movement 20s infinite linear;
    }
}

@keyframes movement {
    0% {
        transform: translate(0, 0) scale(1);
    }

    50% {
        transform: translate(100px, 100px) scale(1.5);
    }

    100% {
        transform: translate(0, 0) scale(1);
    }
}



main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1c1f26e9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 9px 3px 10px #0000002b;
    width: 900px;
    height: 600px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: #282c34;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background: #0077ff;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #0056b3;
    }

    h1 {
        margin-bottom: 20px;
    }

    label, input {
        display: block;
    }

    label {
        margin-bottom: 10px;
        font-size: 18px;
    }

    input:not([type="submit"]) {
        width: 100%;
        padding: 15px;
        margin-bottom: 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        background-color: #282c34;
        color: #fff;
        outline: none;
    }

    input[type="submit"] {
        margin: 20px auto;
        display: block;
        width: 100%;
        padding: 8px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }
}